@import url("https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500;700&family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Finlandica", sans-serif;
}

body {
  background-color: #7caddf;
}
.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.musicContainer {
  width: 50rem;
  height: 80rem;
  text-align: center;
  padding: 3rem;
  background-color: #015095;
  border-radius: 2rem;
  box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.musicContainer #songName {
  font-size: 3rem;
  font-weight: 500;
  word-spacing: 0.3rem;
  color: #a14ecd;
  margin: 0rem 0 0.5rem 0;
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.musicContainer #artist {
  color: #2f2763;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

.imageContainer {
  width: 25rem;
  height: 25rem;
  margin: auto;
}

img {
  box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

/* PROGRESS BAR */
.progressBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressBar input {
  width: 80%;

  height: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #83a9ff;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.progressBar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #377dff;
  cursor: pointer;
  border-radius: 100%;
}

.progressBar input:hover {
  opacity: 1;
}

.currentTime,
.durationTime {
  padding: 10px;
}

/* VOLUME BAR */

.volumeBar {
  display: flex;
  justify-content: center;
  text-align: center;
}

.volumeBar input {
  width: 40%;
  margin-top: 15px;
  height: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #83a9ff;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.volumeBar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #377dff;
  cursor: pointer;
  border-radius: 100%;
}

.volumeBar input:hover {
  opacity: 1o;
}

/* BASIC MUSIC CONTROLS */
.musicControls {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
}
.musicControls .fas {
  color: #111111;
  font-size: 2rem;
  cursor: pointer;
  filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4));
}

/* PLAY BUTTON */
.musicControls .playButton {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #111111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.musicControls .fas:hover {
  color: grey;
}

.musicControls .playButton:hover {
  background-color: #a14ecd;
  color: #111;
  box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.4);
}

/* Adds Animation to the image */
.animation {
  animation: rotateImage 6s linear infinite;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* // Adds a wave like animation */
.loader {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
.loader .stroke {
  background: #f1f1f1;
  height: 150%;
  width: 10px;
  border-radius: 50px;
  margin: 0px 5px;
  animation: animate 1.4s linear infinite;
}
@keyframes animate {
  50% {
    height: 20%;
    background: #4286f4;
  }
  100% {
    height: 100%;
  }
}
.stroke:nth-child(1) {
  animation-delay: 0s;
}
.stroke:nth-child(2) {
  animation-delay: 0.3s;
}
.stroke:nth-child(3) {
  animation-delay: 0.6s;
}
.stroke:nth-child(4) {
  animation-delay: 0.9s;
}
.stroke:nth-child(5) {
  animation-delay: 0.6s;
}
.stroke:nth-child(6) {
  animation-delay: 0.3s;
}
.stroke:nth-child(7) {
  animation-delay: 0s;
}
