@import url("https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500;700&family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Finlandica", sans-serif;
}
.main {
  width: 100vw;
  height: 100vh;
  background-color: #f6f6f6;
}

.musicContainer {
  width: 30rem;
  height: 60rem;
  text-align: center;
  padding: 3rem;
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.3);
}
